<article>

	<h2> <%= @episode.title %> </h2>

	<div>
		<%= @episode.description %>
	</div>
	
	<hr>

	<iframe width="854" height="480" src="<%= @episode.video_link %>" frameborder="0" allowfullscreen></iframe>
	
	
</article>