<h1>List of Courses (<%= Course.count %>) </h1> 

<% @courses.each do |course| %>
       <h2><%= course.title %></h2> 

       <%= image_tag course.image.url(:thumb), alt: course.title %>

       <p> <%= course.description %> </p>
        <hr/>
<% end %>